.header {
  background-color: #6d2e00;
  padding: 1rem 2rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  gap: 20px;
  font-size: 2.5rem;
  font-weight: bold;
}

.logout {
  margin-left: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.logoutIcon {
  width: 24px;
  height: 24px;
  filter: invert(1) brightness(2);
  transition: filter 0.2s;
}

.logout:hover .logoutIcon {
  filter: invert(24%) sepia(99%) saturate(748%) hue-rotate(340deg) brightness(90%) contrast(92%);
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  transition: background 0.2s, color 0.2s;
  font-weight: 600;
  font-size: 1.15rem; /* Deixe maior conforme desejar */
}

.nav a:hover {
  background: #f3e6d6;
  color: #a0522d; /* Destaque no hover */
  cursor: pointer;
}

.active {
  background: #a0522d;
  color: #fff !important;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(160,82,45,0.08);
  font-size: 1.15rem;
}